{% extends "base.html" %}
{% block content %}
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("{{ url_for('static', filename='img.jpg') }}");
    background-size: cover;        /* Hace que cubra toda la pantalla */
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
    background-attachment: fixed;  /* Fija el fondo */
}

</style>
<div class="d-flex justify-content-between mb-2">
  <h3>Movimientos</h3>
  {% if current_user.role.name in ['Super-Administrador','Almacenista'] %}
  <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#nuevoMov">Nuevo movimiento</button>
  {% endif %}
</div>

<div class="collapse mb-3" id="nuevoMov">
  <div class="card card-body">
    <form method="post" action="{{ url_for('main.movimiento_nuevo') }}">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col">{{ form.producto_id.label }} {{ form.producto_id(class="form-select") }}</div>
        <div class="col">{{ form.tipo.label }} {{ form.tipo(class="form-select") }}</div>
        <div class="col">{{ form.cantidad.label }} {{ form.cantidad(class="form-control") }}</div>
      </div>
      <div class="mb-2">{{ form.nota.label }} {{ form.nota(class="form-control") }}</div>
      <div><button class="btn btn-success" type="submit">Registrar</button></div>
    </form>
  </div>
</div>

<table class="table">
  <thead><tr><th>Fecha</th><th>Producto</th><th>Tipo</th><th>Cant.</th><th>Usuario</th><th>Nota</th></tr></thead>
  <tbody>
    {% for m in movimientos %}
    <tr>
      <td>{{ m.fecha.strftime('%Y-%m-%d %H:%M') }}</td>
      <td>{{ m.producto.nombre }}</td>
      <td>{{ m.tipo }}</td>
      <td>{{ m.cantidad }}</td>
      <td>{{ m.usuario.username if m.usuario else 'Sistema' }}</td>
      <td>{{ m.nota }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
