{% extends "base.html" %}
{% block title %}Nuevo movimiento{% endblock %}
{% block content %}
<style>
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("{{ url_for('static', filename='img.jpg') }}");
    background-size: cover;        /* Hace que cubra toda la pantalla */
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
    background-attachment: fixed;  /* Fija el fondo */
}

</style>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5>Registrar movimiento</h5>
        <form method="post" action="{{ url_for('main.movimiento_nuevo') }}">
          {{ form.hidden_tag() }}
          <div class="mb-3">{{ form.producto_id.label }} {{ form.producto_id(class="form-select") }}</div>
          <div class="mb-3">{{ form.tipo.label }} {{ form.tipo(class="form-select") }}</div>
          <div class="mb-3">{{ form.cantidad.label }} {{ form.cantidad(class="form-control") }}</div>
          <div class="mb-3">{{ form.nota.label }} {{ form.nota(class="form-control") }}</div>
          <div>{{ form.submit(class="btn btn-success") }} <a href="{{ url_for('main.movimientos_list') }}" class="btn btn-secondary">Volver</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
